#slots{
	border: 4px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: darkkhaki;
}

.numberSlot{
	border: 2px solid black;
	text-align: center;
	width: 80px;
	height: 120px;
	margin: 10px;

}


#cards{
	border: 4px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
	background-color: lightsteelblue;
}

.numberCard{
	border: 2px solid black;
	text-align: center;
	width: 80px;
	height: 120px;
	margin: 10px;
}

.addBack{
	background-image: url("../basic/img/santa.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.rightSlot{
	background-color: #29D74C;
}

.wrongSlot{
	background-color: darkred;
}

.winColor{
	background-color: #d4af37;
}